.product input {
    width: 30%;
    padding: 5px;
    display: inline-block;
    margin: 10px 0;
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid #ccc;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}
.product input:focus {
    border-color: #4CAF50;
}

#search {
    width: 50%;
    border-radius: 10px;
}